{% load static %}

<section class="section section-footer">
    <ul class='section-footer__menu'>
        <li class='section-footer__item section-footer__item-sejen'>
            <a href="https://www.sejen.ci/" class='section-footer__link' target='_blank'>
                <img src="{% static 'images/app-content/logo_sejen.png' %}" alt="">
            </a>
        </li>

         <li class='section-footer__item section-footer__item-dcli'>
            <a href="https://dcli.co/" class='section-footer__link' target='_blank'>
                <img src="{% static 'images/app-content/logo_dcli.png' %}" alt="">
            </a>
        </li>

         <li class='section-footer__item section-footer__item-dcdj'>
            <a href="https://www.dcdj.ci/" class='section-footer__link' target='_blank'>
                <img src="{% static 'images/app-content/logo_dcdj.png' %}" alt="">
            </a>
        </li>
    </ul>
</section>