:{% load static %}

<section class="section section-text section-footer">
    <div>
        <p style="font-size:14px;">
            <strong>Des Chiffres et Des Jeunes (DCDJ)</strong> et <strong><a href="https://www.sejen.ci">SEJEN</a></strong> sont des projets du programme&nbsp;<strong>
            <a href="https://dcli.co/">DCLI</a></strong>&nbsp;(Data Collaboratives for Local Impact) piloté par le&nbsp;
            <strong><a href="https://www.mcc.gov/">MCC</a></strong>&nbsp;(Millennium Challenge Corporation) et financé
            par le&nbsp;
            <strong><a href="https://www.pepfar.gov/">PEPFAR</a>&nbsp;</strong>(President’s Emergency Plan For Aids
            Relief).</p>
    </div>
</section>