{% extends 'master.html' %}

{% block title %}Index Testing{% endblock title %}

{% block content %}
    
    <section class="home-section user-section">
        <div class='d-flex flex-jcb flex-aic'>
            <div class="section-block__left d-flex flex-jcb flex-aic">
                {% csrf_token %}

                <form method="GET" action="" class="d-flex flex-jcb flex-aic" class="form-search-index">

                    <div class="form-group ml-2">
                        <label for="code_patient">Code du patient</label>
                        <input type="text" name="code_patient" id="code_patient" class="form-control" pattern="[0-9]{4}[\/][0-9]{2}[\/][0-9]{2}[\/][0-9]{5}" required>
                    </div>

                    <div class="form-group ml-2">
                    <label for="">&nbsp;</label>
                        <button type="submit" class="button button-gradient"><i class="flaticon-zoom"></i> Recherche</button>
                    </div>

                </form>

            </div>

            <div class='section-block'>
                <a href="{% url 'mytrack:ajout_contact' %}" class="button button-gradient add-user"><i class="flaticon-plus-1"></i> Ajouter un contact</a>
            </div>
        </div>

        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code patient</th>
                        {% comment %} <th>Numéro patient</th> {% endcomment %}
                        <th>Code contact</th>
                        <th>Type Contact</th>
                        <th>Sexe Contact</th>
                        <th>Date de Naissance</th>
                        <th>Statut Identification</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% if index|length == 0 %}
                        <tr>
                            <td style="text-align:center">
                                Aucun contact n'est enregistré
                            </td>
                        </tr>
                    {% else %}
                    {% for index in index %}
                    <tr>   

                        <td>{{ index.patient_code }}</td>

                        <td>{{ index.contact_code | upper }}</td>

                        <td>{{ index.type_contact | upper }}</td>

                        <td>{{ index.sexe_contact | upper }}</td>

                        <td>{{ index.date_naissance | date }}</td>

                        <td>{{ index.statut_identification | upper }}</td>

                
                        <td class="action">

                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="code_index" value="{{ index.code_index }}">
                                {% comment %} <a data-archive-relance href="{% url 'activite_relance:archive_relance' relance_code=relance.relance_code %}" class="button button-small button-ouline-dark"><i class="flaticon-file-1"></i></a> {% endcomment %}
                                <a data-edit-relance href="{% url 'mytrack:edit_index' code_index=index.code_index %}" class="button button-small button-ouline-success"><i class="flaticon-edit"></i></a>
                                {% comment %} <a data-delete-relance href="" class="button button-small button-ouline-danger"><i class="flaticon-trash"></i></a> {% endcomment %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
