{% extends 'master.html' %}

{% block title %}Rendez-Vous{% endblock title %}

{% block content %}
    
    <section class="home-section user-section">
     <div class='d-flex flex-jcb flex-aic'>
            <div class="section-block__left d-flex flex-jcb flex-aic">
<!--                <input type="hidden" name="filter-relance-table" value="{% url 'activite_relance:list_site_relance' %}">-->
                {% csrf_token %}
<!--                <div class="form-group">-->
<!--                    <label for="search-relance-start-date">Recherche </label>-->
<!--                    <input type="text" id="search-relance-by-text" class="form-control" placeholder="Rechercher">-->
<!--                </div>-->

                <form method="GET" action="" class="d-flex flex-jcb flex-aic">

                    <div class="form-group ml-2">
                        <label for="code_patient">Code du patient</label>
                        <input type="text" name="code_patient" id="code_patient" class="form-control">
                    </div>

                    <div class="form-group ml-2">
                    <label for="">&nbsp;</label>
                        <button type="submit" class="button button-gradient"><i class="flaticon-zoom"></i> Recherche</button>
                    </div>

                </form>

            </div>

            <div>
                <a href="{% url 'mytrack:list_missed_rdv' %}" class="button button-gradient"><i class="flaticon-calendar"></i> Rendez-vous manqués</a>
                <a href="{% url 'mytrack:ajout_rdv' %}" class="button button-gradient add-user"><i class="flaticon-plus-1"></i> Ajouter un rendez-vous</a>
                {% comment %} <a href="{% url 'activite_relance:export_fiche_relance' %}" class="button button-small button-gradient"><i class="flaticon-share"></i> Exporter</a> {% endcomment %}
            </div>

        </div>
        <div class="card">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code patient</th>
                        {% comment %} <th>Numéro patient</th> {% endcomment %}
                        <th>le motif du RDV</th>
                        <th>Date de rendez-vous</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% if rdv|length == 0 %}
                        <tr>
                            <td style="text-align:center">
                                Aucun rendez-vous n'est enregistré
                            </td>
                        </tr>
                    {% else %}
                    {% for rdv in rdv %}
                    <tr>   

                        <td>{{ rdv.patient_code }}</td>

                        <td>{{ rdv.motif | upper }}</td>

                        <td>{{ rdv.date_rdv | date  }}</td>
                        
                        <td class="action">

                            <form action="" method="POST">
                                {% csrf_token %}
                             <input type="hidden" name="code_rdv" value="{{ rdv.code_rdv }}">
                                {% comment %} <a data-archive-relance href="{% url 'activite_relance:archive_relance' relance_code=relance.relance_code %}" class="button button-small button-ouline-dark"><i class="flaticon-file-1"></i></a> {% endcomment %}
                                <a data-edit-relance href="{% url 'mytrack:edit_rdv' rdv.code_rdv%}" class="button button-small button-ouline-success"><i class="flaticon-edit"></i></a>
                                {% comment %} <a data-delete-relance href="" class="button button-small button-ouline-danger"><i class="flaticon-trash"></i></a> {% endcomment %}
                            </form>
                        </td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>

{% endblock content %}
