.app-sidebar {
    position: fixed;
    width: 150px;
    left: 0;
    top: 0;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-gradient);
    transition: all .2s;
    overflow: auto;
    z-index: 999;
}

.app-sidebar.is-show {
    transform: translateX(0)!important;
}

.app-sidebar__header {
    padding: 2rem;
}

.app-sidebar__title {
    font-size: 5rem;
}

.app-sidebar__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.app-sidebar__item {
    width: 100%;
}

.app-sidebar__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
    width: 100%;
    transition: all .2s;
}

.app-sidebar__link:hover {
    background-color: var(--sidebar-link-hover);
}

.app-sidebar__link.active {
    background-color: var(--sidebar-link-active);
}

.app-sidebar__link [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after {
   font-size: 3rem;
}
.app-sidebar__link .la, .lab, .lad, .lal, .lar, .las{
    font-size:4rem;
}

@media screen and (max-width: 875px) {
    .app-sidebar {
        top: 55px;
        width: 100%;
        transform: translateX(-100%);
        z-index: 999;
        opacity: .95;
        align-items: flex-start;
    }

    .app-sidebar__title {
        display: none;
    }

    .app-sidebar__link {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .app-sidebar__link > :first-child {
        margin-right: 2rem;
    }

    .app-sidebar__link [class^="flaticon-"]::before, [class*=" flaticon-"]::before, [class^="flaticon-"]::after, [class*=" flaticon-"]::after,
    .app-sidebar__link .las {
        font-size: 2rem;
     }
}