{% extends 'master.html' %}

{% block title %}Venue de patient{% endblock title %}

{% block content %}
    
    <section class="home-section user-section">

        <div class="user-section-wrapper">
        <div class="card">
            <form action="{% url 'mytrack:respect_rdv' %}" method="post" class="form-add-respect">
                {% csrf_token %}

                <div class="form-group">
                    <label for="last_rdv">Ancienne date de rendez-vous</label>
                    <input type="date" name="last_rdv" id="last_rdv" class="form-control" placeholder="ancienne date de rendez-vous" value="YYYY-MM-DD" required>
                    <span class="form-error relance_date-error"></span>
                </div>

                <div class="form-group">
                    <label for="date_venue">Date de venue</label>
                    <input type="date" name="date_venue" id="date_venue" class="form-control" placeholder="Date de venue du patient" value="YYYY-MM-DD" required>
                    <span class="form-error relance_date-error"></span>
                </div>

                 <div class="form-group">
                    <label for="patient_code">Code patient</label>
                    <input type="text" name="patient_code" id="patient_code" class="form-control" placeholder="XXXX/XX/XX/XXXX" required>
                    <span class="form-error patient_code-error"></span>
                </div>

                 <div class="form-group">
                    <label for="motif">Motif de Rendez-vous</label>
                    <select name="motif" id="motif" class="form-control"  multiple size = "3" required>
                        {% for motif in motif %}
                        <option value="{{motif}}">{{ motif | upper }}</option>
                        {% endfor %}
                    </select>
                    <span class="form-error relance_reason-error"></span>
                </div>

                <div class="form-group">
                    <label for="respect_comment">Commentaire</label>
                    <textarea name="respect_comment" id="respect_comment" placeholder="Commentaire" class="form-control"></textarea>
                    <span class="form-error relance_comment-error"></span>
                </div>
                <button type="submit" class="button button-gradient"><i class="flaticon-floppy-disk"></i> Enregistrer</button>

            </form>
        </div>

        </div>
    </section>

{% endblock content %}